# This will be used by betterauth to sign and verify tokens. You can generate a random string for this, but make sure to keep it secret and secure.
# NOTE: this is not used to encrypt auth data in the database
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:5173" # Base URL of your app

# Turso is the default service for the auth database. Mainly because the free tier offers 100 databases and up 5gb storage in total
TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""

# Google is the default OAuth Provider. Adjust auth.ts to change. You can get the client ID and secret from the Google Cloud Console. Make sure to set the authorized redirect URI to http://localhost:5173/api/auth/callback/google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

OPENAI_API_KEY=""

